<!doctype html>
<html lang="en" data-bs-theme="dark">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}" >
        <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/custom.scss')}}" > -->
        <title>NFC pi</title>

        <!-- Favicon stuff -->

        <!-- <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicons/favicon-16x16.png">
<link rel="manifest" href="/static/img/favicons/site.webmanifest">
<link rel="mask-icon" href="/static/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/static/img/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/static/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff"> -->

        <!-- end favicon stuff -->
    </head>


    <body class="text-light"  style="background-color: black;">

        <!-- Nav bar -->
        <!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark">
<a href="/" class="navbar-brand">
<div class="container">
<h3>NFC</h3> </a>
</div>
</nav> -->
        <!--End nav bar -->


        <!-- Scan card Modal -->
        <div class="modal fade" id="scan-card-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Scan card</h1>
                        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                    </div>
                    <div class="modal-body">
                        Scan NFC tag on the PN532

                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <form action="/cancel-scan" method="post">
                            <input type="submit" class="btn btn-danger" name="cancel" value="Cancel" data-bs-dismiss="modal" />
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Card Info Modal -->
        <!-- <div class="modal fade" id="card-info-modal" tabindex="-1" aria-labelledby="card-info-modal-label" aria-hidden="true"> -->
        <!--     <div class="modal-dialog modal-dialog-centered"> -->
        <!--         <div class="modal-content"> -->
        <!--             <div class="modal-header"> -->
        <!--                 <h1 class="modal-title fs-5" id="exampleModalLabel">Card info</h1> -->
        <!--                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        <!--             </div> -->
        <!--             <div class="modal-body"> -->
        <!--                 <div id="info-modal-body"> -->
        <!---->
        <!--                 card info goes here -->
        <!--                      -->
        <!--                 </div> -->
        <!--             </div> -->
        <!--             <div class="modal-footer"> -->
        <!--                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <!--                 <button type="button" class="btn btn-primary">Save card</button> -->
        <!--             </div> -->
        <!--         </div> -->
        <!--     </div> -->
        <!-- </div> -->




        <div class="modal fade" id="card-info-modal" aria-hidden="true" aria-labelledby="card-info-modal-label" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Card info</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div id="info-modal-body">

                            card info goes here

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Emulate</button>
                        <button class="btn btn-primary" data-bs-target="#save-modal" data-bs-toggle="modal">Save card</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="save-modal" aria-hidden="true" aria-labelledby="save-modal-label" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Save card</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <!-- <form action="/save-card" method="post"> -->
                                <label class="col-form-label">Name:</label>
                                <input type="text" name="name" class="form-control" id="card-name-input" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bs-target="#card-info-modal" data-bs-toggle="modal">Back</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="save-button-submit">Save</button>
                    </div>
                </div>
            </div>
        </div>




        <!-- Save card Modal -->
        <!-- <div class="modal fade" id="save-card-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"> -->
        <!--     <div class="modal-dialog modal-dialog-centered"> -->
        <!--         <div class="modal-content"> -->
        <!--             <div class="modal-header"> -->
        <!--                 <h1 class="modal-title fs-5" id="staticBackdropLabel">Save card</h1> -->
        <!--                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        <!--             </div> -->
        <!--             <div class="modal-body"> -->
        <!--                 Card scanned successfully<br> You may now remove the card. -->
        <!--                 <div class="mb-3"> -->
        <!--                     <form action="/save-card" method="post"> -->
        <!--                         <label class="col-form-label">Name:</label> -->
        <!--                         <input type="text" name="name" class="form-control" id="card-name-input" required> -->
        <!--                 </div> -->
        <!--             </div> -->
        <!--             <div class="modal-footer"> -->
        <!--                 <input type="submit" id="save-button" value="Save" class="btn btn-success" data-bs-dismiss="modal"> -->
        <!--                     </form> -->
        <!--             </div> -->
        <!--         </div> -->
        <!--     </div> -->
        <!-- </div> -->

        <!-- Error Modal -->
        <div class="modal fade" id="error-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Scan card</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Server ran into an error!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">ok :(</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- timeout modal -->
        <div class="modal fade" id="timeout-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Timed out</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Server timed out while waiting for NFC card.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">ok :(</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- progress Modal -->
        <div class="modal fade" id="progress-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        Card found! Keep card on reader while the scan finishes.
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!-- Buttons section -->
        <section class="pb-5">

            <!-- buttons -->
            <div class="container text-center pt-5">
                <div class="row">
                    <div class="col">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-lg btn-primary" id="scan-button" data-bs-toggle="modal" data-bs-target="#scan-card-modal">
                            Scan card
                        </button>
                    </div>

                    <div class="col">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-lg btn-primary" id="scan-button" data-bs-toggle="modal" data-bs-target="#scan-card-modal">
                            Read memory
                        </button>
                    </div>


                    <div class="col">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-lg btn-primary" id="scan-button" data-bs-toggle="modal" data-bs-target="#scan-card-modal">
                            Emulate card
                        </button>
                    </div>

            </div>



            <!-- End Read/write buttons -->

        </section>
        <!-- end buttons section -->

        <!-- Cards section -->
        <section class="p-4">

            <!-- cards -->
            <div class="container col-sm-7 mb-2 mb-sm-0 justify-content-center">
                <label>
                    <h5>Saved cards:</h5>
                </label>

                {% if cards %}
                {% for card in cards %}
                <div class="card text-light mb-3">
                    <div class="card-header">{{ card.name }}</div>
                    <div class="card-body">
                        <p class="card-text">  UID: {{ card.uid }} <br>
                            ATQA: {{ card.atqa }} <br>
                            SAK: {{ card.sak }} <br>
                            TYPE: {{ card.type }} <br>

                            {% if card.ats %}
                                ATS: {{ card.ats }}
                            {% endif %}

                        </p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>Saved cards will be displayed here</p>
                {% endif %}
            </div>

            <!-- cards -->

        </section>
        <!-- end cards section -->


        <!-- <script src="{{url_for('static', filename='js/jquery-3.7.0.min.js')}}"></script> -->
        <script src="{{url_for('static', filename='js/new_main.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
    </body>
    <!-- <footer class="navbar-dark text-lg-start text-bg-dark">
<div class="text-center p-4 bg-dark">

</div>
</footer> -->
</html>
